<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Page for CS209A final project</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts-wordcloud@2/dist/echarts-wordcloud.js"></script>
    <script src="../js/tagCount_demo.js"></script> <!-- In SpringBoot, the path is relative to the static folder -->
</head>
<body style="text-align: center">

<h1>
    Demo Page for CS209A 2023 Fall final project
</h1>

<h5>
    The data below is from 50 Java threads in StackOverflow,
    which are the top 50 ones with the most activity on Nov. 19, 2023.
    <br>
    This is just a demo. Please collect data and design UI by yourself.
</h5>


<div style="width: 100%;height: 60vh;display: flex">
    <div style="width: 50%;height: 100%">
        <div id="barchart" style="height: 100%;width: 100%"></div>
    </div>
    <div style="width: 50%;height: 100%">
        <div id="wordCloud" style="height: 100%;width: 100%"></div>
    </div>
</div>
</body>

<script>
    let wordCloud = echarts.init(document.getElementById('wordCloud'));
    let barchart = echarts.init(document.getElementById('barchart'));

    let wordCloudData = [];
    for (const [key, value] of Object.entries(tagCountMap)) {
        if (value > 1){
            wordCloudData.push({
                name: key,
                value: value * 1000
            })
        } else if (wordCloudData.length < 20){
            wordCloudData.push({
                name: key,
                value: value * 1000
            })
        }
    }
    let wordCloudOption = {
        title: {
            text: 'Tags in Java thread',
            textStyle: {
                fontStyle: 'oblique',
                fontSize: 20,
                color: '#000000'
            },
            left: 'center'
        },
        tooltip: {},
        series: [{
            type: 'wordCloud',
            shape: {
                cloudGrow: 0.2
            },
            sizeRange: [10, 60],
            rotationRange: [-30, 30],
            gridSize: 2,
            drawOutOfBound: false,
            layoutAnimation: true,
            keepAspect: true,
            textStyle: {
                fontWeight: 'bold',
                color: function () {
                    return 'rgb(' + [
                        72 + Math.round(Math.random() * 128),
                        72 + Math.round(Math.random() * 128),
                        72 + Math.round(Math.random() * 128)
                    ].join(',') + ')';
                }
            },
            emphasis: {
                textStyle: {
                    shadowBlur: 15,
                    shadowColor: '#333'
                }
            },
            data: wordCloudData.sort(function (a, b) {
                return b.value - a.value;
            })
        }]
    };
    wordCloud.setOption(wordCloudOption);

    let barData = [];
    let colors = ['#FF7F27', '#FFC90E', '#28D15A', '#0BBDFC', '#8365FA'];
    let top5 = Object.entries(tagCountMap).sort((a, b) => b[1] - a[1]).slice(0, 5);
    for (const [key, value] of top5) {
        barData.push({
            name: key,
            value: value / Object.keys(tagCountMap).length,
            color: colors[barData.length % colors.length]
        })
    }

    let barchartOption = {
        dataset: [
            {
                dimensions: ['name', 'value'],
                source: barData
            },
            {
                transform: {
                    type: 'sort',
                    config: { dimension: 'value', order: 'desc' }
                }
            }
        ],
        title: {
            text: 'Top 5 tags\' frequency in Java thread',
            textStyle: {
                fontStyle: 'oblique',
                fontSize: 20,
                color: '#000000'
            },
            left: 'center'
        },
        xAxis: {
            type: 'category',
            axisLabel: { interval: 0, rotate: 30 }
        },
        yAxis: {},
        series: {
            type: 'bar',
            encode: { x: 'name', y: 'score' },
            datasetIndex: 1,
            itemStyle: {
                normal: {
                    color: function(params) {
                        return params.data.color;
                    }
                }
            }
        }
    };

    barchart.setOption(barchartOption);
</script>

</html>